
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.MuiToggleButton-root {
  margin: 5px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.card-description {
  margin-top: 10px;
}

.buy-button {
  margin-top: 10px;
}
